.header{
    font-family: futura-pt, sans-serif;
    display: flex;
    height: 200px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.3;
        z-index: 1;
    }
    
    &__title{
        font-size: 70px;
        color: #DDB724;
        user-select: none;
        z-index: 2;
        text-shadow: 9px 4px 7px black;
        margin-bottom: 5px;
    }
    
    &__description{
        font-size: 24px;
        color: #ffd82b;
        user-select: none;
        z-index: 2;
        text-shadow: 9px 4px 7px black;
    }
}